body{
    background-image: url(../Images/19187761.jpg); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", serif;
}
.maincontainer{
    display: flex;
    height: 725px;
    width: 100%;
    justify-content: center;
    margin-top: 90px;
    /* align-items: center; */
}
.blue{
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    width: 150vh;
    background-color: #37AFE1;
    border-radius: 30px;
    justify-content: right;
}
.box1{
    display: flex;
    flex-direction: column;
}
.box1{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border-radius: 40%;
    justify-content: center;
    align-items: center;
}
.photo{
    border-radius: 80px;
    margin: 20px;
}
.box1 h1{
    margin: 20px;
    color: white;
    font-style: normal;
    font-size: 40px;
}
.box1 p{
    margin-top: 3px;
    color: white;
    font-style: normal;
    font-size: 28px;
}
.icons{
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
.icons img{
    border-radius: 3px;
    height: 40px;
}
.icons img:hover{
    border-radius: 3px;
    height: 50px;
}
.downloadbuttom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: #37AFE1;
    color: white;
    height: 50px;
    width: 300px;
    border-radius: 30px;
    font-size: 25px;
    border: 1px solid white;
    cursor: pointer;
}
.downloadbuttom:hover{
    background: linear-gradient(90deg,#08ff08,#50e3fc,#bc13fe,#03a9f4,#0ff0fc);
    background-size: 500%;
    z-index: 1;
    animation: blink 7s linear infinite;
}
@keyframes blink{
    from{
        background-position: 0%;
    }
    to{
        background-position: 500%;
    }
}
.downloadbuttom::after{
    content: "";
    position: absolute;
    background: inherit;
    border-radius: 30px; 
    opacity: 0;
}
.downloadbuttom:hover:after{
    opacity: 1;
    z-index: -1;
}
.white{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    background-color: white;
    height: 100%;
    width: 100%;
    max-width: calc(100% - 400px);
    min-width: 600px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}
.whitecon{
    width: 100%;
    margin-left: 60px;
}
.box3{
    display: flex;
    width: 100%;
    height: 600px;
    
}
.container2{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 35%;
    height: 100%;
    max-width: calc(100% - 50px);
    max-height: calc(100% - 50px);
    gap: 20px;
    align-items: start;
    margin-left: 20px;
    margin-top: 0px; 
}
.contimg{
    height: 50px;
    width: 50px;
}
.loc{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(179, 177, 177);
    background-color: rgb(243, 242, 242);
    height: 100px;
    width: 100%;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}
.loc p{
    margin: 0;
    font-size: 14px;
}
.containerin2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px;
}
.containerin2h1{
    font-size: 25px;
    margin-left: 20px;
}
.container3{
    display: flex;
    flex-wrap: wrap;
}
.map{
    flex-wrap: wrap;
    border: 1px solid black;
    height: 150px;
    width: 100%;
    margin-left: 20px;
    margin-right: 11px;
    
}
.map iframe{
    margin: 0;
    height: 150px;
    width: 100%;
}
.helpyou{
    color: #37AFE1;
    font-size: 25px;
}
.condet{
    display: flex;
}
.nas{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 300px;
    margin-left: 20px;
    align-items: center;
    justify-content: space-between;
    
}
input::placeholder { 
    font-family: "Poppins", serif;
    font-size: 16px; 
    color: grey;
}
.nas input{
    height: 25px;
    width: 100%;   
}
textarea{
    margin-left: 25px;
    width: 46%;
}
iframe{
    margin-top: 10px;
    margin-left: 16px;
}
.sendmsg{
    margin-left: 15px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: 2px solid #37AFE1;
    background-color: white;
    width: fit-content;
    font-size: 20px;
    border-radius: 30px;
}
.sendmsg:hover{
    margin-left: 15px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: 2px solid #37AFE1;
    background-color: #37AFE1;
    width: fit-content;
    font-size: 20px;
    border-radius: 30px;
    color: white;
    transition: .4s;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-left: 10px;
    margin-right: 20px;
}
.menu{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    margin-left: 20px;
    height: 350px;
    justify-content: space-evenly;
}
.menu img{
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    
}
.menu a::before{
    content: attr(data-menu);
    position: absolute;
    background-color: #37AFE1;
    color: white;
    width: 80px;
    text-decoration: none;
    padding-left: 5px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transform: translateX(-20px);
    opacity: 0;
    transition: 200 ms ease;
}
.menu a:hover::before{
    transform: translateX(-60px);
    opacity: 1;
    margin-left: -20px;
}
@media all and (max-width: 800px){
    .box1{
        display: none;
    }
    .nav{
        display: none;
    }
    .blue{
        display: 0px;
    }
    .white{
        max-width: calc(100% - 2px)
          
    }
}