body{
    background-image: url(../Images/19187761.jpg); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", serif;
}
.maincontainer{
    display: flex;
    height: 725px;
    width: 100%;
    justify-content: center;
    margin-top: 90px;
    /* align-items: center; */
}
.blue{
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    width: 150vh;
    background-color: #37AFE1;
    border-radius: 30px;
    justify-content: right;
}
.box1{
    display: flex;
    flex-direction: column;
}
.box1{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border-radius: 40%;
    justify-content: center;
    align-items: center;
}
.photo{
    border-radius: 80px;
    margin: 20px;
}
.box1 h1{
    margin: 20px;
    color: white;
    font-style: normal;
    font-size: 40px;
}
.box1 p{
    margin-top: 3px;
    color: white;
    font-style: normal;
    font-size: 28px;
}
.icons{
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
.icons img{
    border-radius: 3px;
    height: 40px;
}
.icons img:hover{
    border-radius: 3px;
    height: 50px;
}
.downloadbuttom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: #37AFE1;
    color: white;
    height: 70px;
    width: 300px;
    border-radius: 30px;
    font-size: 25px;
    border: 2px solid white;
}
.downloadbuttom:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: white;
    color: #37AFE1;
    height: 70px;
    width: 300px;
    border-radius: 30px;
    font-size: 25px;
    border: 2px solid #37AFE1;
}
.white{
    display: flex;
    flex-shrink: 1;
    background-color: white;
    height: 100%;
    width: 100%;
    max-width: calc(100% - 400px);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}
.container2{
    padding: 10px;
    width: 100%;
    height: 100%;
    max-width: calc(100% - 50px);
    max-height: calc(100% - 50px);
    overflow: auto;
}
.box2{
    display: flex;
    flex-wrap: wrap;
}
.aboutme{
    display: inline-block;
    margin: 5px;
    word-wrap: break-word; 
    width: 500px;
    min-width: 200px;
}

.basicdetails{ 
    margin: 5px;
    padding: 10px;
    width: 350px; 
    min-width: 200px;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 20px;
}
.menu{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    margin-left: 20px;
    height: 350px;
    justify-content: space-evenly;
}
.menu img{
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    
}
/* .scrol{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    margin-left: 20px;
    height: 90px;
    justify-content: center;
    align-items: center;
    width: 50px;

}
.scrol img{
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30px;
    
} */
.menu a::before{
    content: attr(data-menu);
    position: absolute;
    background-color: #37AFE1;
    color: white;
    width: 80px;
    text-decoration: none;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transform: translateX(-20px);
    opacity: 0;
    transition: 200 ms ease;
}
.menu a:hover::before{
    transform: translateX(-60px);
    opacity: 1;
    margin-left: -20px;
}
@media all and (max-width: 800px){
    .box1{
        display: none;
    }
    .nav{
        display: none;
    }
    .blue{
        display: 0px;
    }
    .white{
        max-width: calc(100% - 5px)
          
    }
}